
  <div class="thumbnail" style="overflow:auto;">
    <h4 align=center style="font-size: 14px" itemprop="name"><a href="/535-LG-G3-32GB-price-in-pakistan.htm" itemprop="url">LG G3 32GB</a></h4>
    <hr style="margin:5px" />
    <table>
      <tr>
        <td valign="top">
          <div style="width: 75px;">
            <img src="http://shopbuzz.pk/images/products/profile/535-lg-g3-32gb-price-in-pakistan.jpg" style="max-width: 75px;" align="left" itemprop="image">
          </div>
        </td>
        <td valign="top">
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <strong>Price:</strong> <span itemprop="price" priceCurrency="PKR">Rs. 28,999/-</span><br />
          </div>
          <strong>Sellers:</strong> 7<br />
          <strong>Used Phones:</strong> 24<br />
          <strong>Comments:</strong> 32<br />
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fshopbuzz.pk%2F535-LG-G3-32GB-price-in-pakistan.htm&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
        </td>
      </tr>
    </table>
  </div>