<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <div style="margin-left: 10px; margin-bottom: 5px;">
        <h4>Price Range:</h4>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Min Price" style="width: 80%">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Max Price" style="width: 80%">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    <div class="thumbnail" style="margin-top:10px;">
      <div style="margin-left: 10px">
        <h4>Brands:</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Brand 1
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Brand 2
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Brand 3
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Brand 4
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
    <% (1..12).each do |i| %>
        <div class="col-md-4" style="margin-top:10px;" itemscope itemtype="http://schema.org/Product">
        <%= render :partial => "product_summary" %>
        </div>
    <% end %>
      </div>
  </div>
</div>