<table style="width:500px">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
      </tr>
  </tbody>
</table>